/* here is universal styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* here is css variable */

:root {
  --primary-color-black-01: rgba(19, 19, 24, 1);
  --primary-description-color: rgba(90, 90, 93, 1);
  --secondary-description-color: rgba(19, 19, 24, 0.7);
  --primary-orange-color: rgba(255, 84, 0, 1);
  --white-color: rgba(255, 255, 255, 1);
  --primary-title-font-size: 2.5rem;
  --secondary-title-font-size: 1.5rem;
  --primary-button-font: 1.25rem;
}

/* here is common shared styles */

.primary-section-title{
  color: var(--primary-color-black-01);
font-size: var(--primary-title-font-size);
font-weight: 800;
}
.primary-section-description{
  color: var(--secondary-description-color);
font-weight: 400;
}

/* here is header section */

/* here is nav section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1350px;
  margin: 45px auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.web-name {
  color: var(--primary-color-black-01);
  font-size: 2.25rem;
  font-weight: 800;
}

.uncommon-style {
  color: var(--primary-orange-color);
  font-size: 2.25rem;
  font-weight: 800;
}

.navigate-container ul {
  display: flex;
  align-items: center;
  gap: 45px;
}

.navigate-container ul li a {
  color: var(--Dark-02, #424247);
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
}

.home {
  color: var(--primary-orange-color);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
}

/* finished navigation section */

/* here is banner section */

.banner-section-container {
  background-image: url("../assets/Images/banner.png");
  /* min-height: 550px; */
  background-repeat: no-repeat;
  max-width: 1350px;
  margin: 0 auto 100px;
  background-size: cover;
  text-align: center;
  border-radius: 16px;
}
.dummy-content {
  min-height: 550px;
  max-width: 1350px;
  margin: 0 auto 100px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.banner-title {
  color: var(--white-color);
  font-size: 4rem;
  font-weight: 800;
  padding-top: 105px;
}

.banner-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 975px;
  margin: 0 auto 50px;
  padding: 0 20px;
}

.banner-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  /* background-color: rgba(255, 255, 255, 0.349); */
  max-width: 990px;
  min-height: 70px;
  margin: 0 auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  padding: 15px 30px;
}
.banner-input-container input[type="text"] {
  border-radius: 8px;
  background: #fff;
  outline: none;
  border: 0;
  padding: 16px 35px 16px 16px;
}

input::placeholder {
  color: var(--secondary-description-color);
  font-weight: 400;
}

.banner-input-container .time-input i {
  position: absolute;
  left: 46%;
  top: 30px;
}

.banner-input-container .type-input i {
  position: absolute;
  right: 27%;
  top: 30px;
}

.btn input {
  border-radius: 8px;
  background: #ff5400;
  border: 0;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 16px 50px 16px 53px;
}
.btn i {
  position: absolute;
  right: 16%;
  top: 33px;
  color: var(--white-color);
}

/* finished banner section */

/* finished header section */

/* here is main section */

/* here is popular tour section  */

.popular-tour-container{
  display: flex;
  gap: 80px;
  max-width: 1350px;
  margin: 145px auto;
}

.popular-tour-description-container{

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.popular-tour-description-container ul li{
  list-style:disc;
}

.popular-tour-description-container ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 20px 20px 20px 40px;
}

.popular-section-button{
  border-radius: 8px;
background: var(--primary-orange-color);
max-width: 145px;
padding: 14px 0;
border: 0;
color: var(--white-color);
text-align: center;
font-size: var(--primary-button-font);
}

/* finished popular tour section */

/* here is destination section */

.destination-description{
  text-align: center;
  max-width: 680px;
  margin: 0 auto 50px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.destination-container{
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.image-container{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}

.maldives{
  position: absolute;
  left: 208px;
  color: #FFF;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}
.indonesia{
  position: absolute;
  right: 208px;
  color: #FFF;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}
.srilanka{
  position: absolute;
  left: 132px;
  color: #FFF;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}
.north{
  position: absolute;
  left: 537px;
  color: #FFF;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}
.kashmir{
  position: absolute;
  right: 79px;
  color: #FFF;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}
.bangla{
  position: absolute;
  left: 155px;
  color: #FFF;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.band{
  position: absolute;
  right: 259px;
  color: #FFF;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

/* finished destination section */

/* here is discount section */

/* here is perfect place section */

.perfect-place-container{
  display: flex;
  gap:30px;
max-width: 1350px;
margin: 150px auto;
}

.place-description-container ul li{
list-style: disc;
margin: 25px 0;
}

.place-description-container ul{
  padding-left: 40px;
}

.place-description-container .primary-section-description{
  margin-top: 25px;
}

.primary-button{
  border-radius: 8px;
background: var(--primary-orange-color) !important;
color: #FFF;
text-align: center;
font-size: 1.25rem;
font-weight: 800;
border: 0;
padding: 15px 40px;

}

/* finished perfect place section */

/* here is newsletter section */

.newsletter-container{
  display: flex;
  max-width: 1350px;
  margin: 0 auto 100px;
  gap: 190px;
}

.input-form-container{
  border: 1px solid var(--primary-orange-color);
  padding: 40px;
  max-width: 480px;
  border-radius: 16px;
}
.input-form-container p{
  margin: 25px 0;
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 25px;
}

.inputs input{
  outline: 0;
  border: 0;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding: 16px 0 16px 20px;
}

.secondary-section-title{
  color: var(--primary-color-black-01);
font-size: var(--secondary-title-font-size);
font-weight: 800;
}

.newsletter-title{
  color: var(--white-color);
text-align: center;
font-size: 1.2rem;
font-weight: 400;
}
.save-up{
  color: var(--white-color);
font-size: 2rem;
font-weight: 800;
}
.newsletter-image-container{
  position: relative;
}

.offer{
  position: absolute;
  width: 50%;
  bottom: 80px;
  right: 5px;
transform: rotate(-19.628deg);

}


/* finished newsletter section */

/* here is footer section */

footer{
  width: 100%;
background: rgba(19, 19, 24, 0.05);
text-align: center;
padding: 0 150px;
}

.footer-logo-container{
  display: flex;
  padding: 110px 0 15px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-web-name{
    color: var(--primary-color-black-01);
    font-size: 1.5rem;
    font-weight: 800;
  
  
  }
  .footer-uncommon-style {
    color: var(--primary-orange-color);
    font-size: 1.5rem;
    font-weight: 800;
  }

  .footer-description{
    padding: 0 75px 40px;
  }
   

  .social-icon{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    
  }

  .copyright{
    padding: 60px 0 85px;
  }

  .footer-logo-container img{
    width: 40px;
  }



/* here is responsive media query for mobile device */

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .navigate-container ul{
    flex-direction: column;
  }

  .logo-container {
    flex-direction: column;
  }

  /* here is banner section */

  .banner-section-container {
    background-position: center center;
    margin: 0 15px;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-input-container {
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 40px;
  }
  .banner-input-container .time-input i {
    right: 14px;
    top: 126px;
  }

  .banner-input-container .type-input i {
    top: 218px;
  }

  .btn i {
    right: 72px;
    top: 87.7%;
  }
  .btn input {
    padding: 16px 84px 16px 57px;
  }

  /* finished banner section */

  /* here is popular tour section */

  .popular-tour-container{
    flex-direction: column;
    align-items: center;
  }

  .popular-tour-description-container{
    padding: 0 15px;
  }

  .popular-tour-image-container img{
    width: 100%;
    padding: 0 30px;
  }
  /* finished popular tour section */

  /* here is destination section */

  .image-container{
    flex-direction: column;
  }

  .destination-container{
    max-width: 550px;
  }
  .image-container img{
    width: 90%;
  }

  .maldives{
    top: 112px;
    left: 201px;
  }
  
  .indonesia{
    top: 375px;
    left: 201px;

  }

  .srilanka{
    top: 707px;
    left: 201px;
  }

  .north{
    top: 1030px;
    left: 155px;
  }

  .kashmir{
    top: 1460px;
    right: 200px;
  }

  .bangla{

    left: 182px;
    top: 1870px;
  }
  .band{
    top: 2150px;
    right: 182px;
  }

  /* finished destination section */

  /* here is place section  */

  .perfect-place-container{
    flex-direction: column;
    padding: 0 20px;
  }

  .perfect-place-container img{
    width: 100%;
  }



  /* finished perfect place section */


  /* here is newsletter section */

  .newsletter-container{
    flex-direction: column;
    gap: 60px;
    padding: 20px;
  }
  .newsletter-container img{
    width: 100%;
  }

  .input-form-container{
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
  }

  .offer {
    bottom: 48px;
    transform: rotate(-24.628deg);
}
.save-up {
  font-size: 1.09rem;
}
.newsletter-title {
  font-size: 0.95rem;
}

  /* finished newsletter section */

  /* here is footer section */

  footer{
    padding: 0 30px;
  }
  .footer-description {
    padding: 0 8px 40px;
  }

  /* finished footer section */

}
