/* here is universal styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/* here is common shared styles */

/* here is header section */

/* finished header section */

/* here is main section */

/* finished main section */

/* here is footer section */

/* finished footer section */
